@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Source+Code+Pro:wght@400;500;700&display=swap');

:root {
    --bg-color: #292929;
    --fg-color: #fff;
    --primary-color: #FFF27D;
    --secondary-color: #636363;
    --success-color: #BFEF71;
    --danger-color: #F35B5B;
    --masking: #F8EBBF;
}

html {
    background-color: #292929;
}

/* width */
::-webkit-scrollbar {
  width: .75em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color); 
  border-radius: 0.25em;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.25em;
  background: var(--fg-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); 
}

/* .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
} */